//colores primarios

$white:#fff;
$platinum: #E8E8E8;
$light-gray:#D1D1D1;

//colores secundarios

$fuzzy-wuzzy:#E56353;
$ruddy-pink:#D76C69;
$spanish-pink:#ECBCBA;

//colores terciarios

$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6C6E70;



